In [3]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 10
print("After assignment:", my_list)

After assignment: [10, 2, 3, 4, 5]

In [3]:
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [9]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
y = car.items()
print(y)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang'}
Ford

In [13]:
i = 1 #i is the loop variable 
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [14]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [15]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
for x in thisdict:
  print(x)

for x in thisdict:
  print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [22]:
print(thisdict.values())
thisdict.items()

dict_values(['Ford', 'Mustang', 1964])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [7]:
thisset = {"apple", "banana", "cherry","apple",True,1,False,0}
print(thisset)
print(len(thisset))
print(type(thisset))

{False, 'banana', True, 'apple', 'cherry'}
5
<class 'set'>

In [9]:
thisset = {"apple", "banana", "cherry"}

print("banan" in thisset)

False

In [10]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "cherry"}

thisset.update(tropical)

print(thisset)

{'banana', 'mango', 'apple', 'pineapple', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banan")

print(thisset)

{'banana', 'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [17]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [18]:
# Creating a set
original_set = {1, 2, 3, 4, 5}
copied_set = original_set.copy()
# Modifying the copied set
copied_set.add(6)

# Printing both sets
print("Original set:", original_set)
print("Copied set:", copied_set)

Original set: {1, 2, 3, 4, 5}
Copied set: {1, 2, 3, 4, 5, 6}

In [19]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}

In [20]:
print(thisdict["brand"])

Ford

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "year": 2000,
  "year": 2020
}

In [27]:
x = thisdict["model"]
print(x)

Mustang

In [1]:
'''The function my_function() defined without any parameters is a type of function known as a "function with no input parameters" 
or "function with zero arguments." This means that the function does not take any input values or arguments when it is called. 
It simply performs a predefined set of tasks or operations encapsulated within the function body.'''
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [4]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", '98')

The youngest child is 98

In [5]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [6]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [15]:

def my_function(country = "Norway",place="Vostok"):
  print("I am from " + country)
  print("And place name is:", place)

my_function(country="Sweden")
my_function(country="India",place="Meghalaya")
my_function()
my_function("Brazil")

I am from Sweden
And place name is: Vostok
I am from India
And place name is: Meghalaya
I am from Norway
And place name is: Vostok
I am from Brazil
And place name is: Vostok

### Sample For loop in c language

In [3]:
#include<stdio.h>
int main()
{
int i;
for(i=0;i<5;i++){ 
printf("%d",i);
}
return 0;
}

SyntaxError: invalid syntax (2976086077.py, line 2)

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#x = thisdict["year"]
x = thisdict.get("year")
print(x)

1964

In [11]:
y = thisdict.keys()
print(y)
j = thisdict.values()
print(j)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [12]:
e = thisdict.items()
print(e)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "mdel" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
    print("Not there")

Not there

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["Color"] = "Blue"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Color': 'Blue'}

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "Green"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Green'}

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
print()
del thisdict
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

NameError: name 'thisdict' is not defined

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [32]:
dic1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dic2 = dic1.copy()
dic2.pop("model")
print("Original",dic1)
print(dic2)

Original {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [33]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"]["name"])

Tobias

In [34]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [39]:
a = 30
b = 13
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a == 30:
    print("a is not minus 1")
else:
    print("Nothing is ok")

a is not minus 1

In [41]:
a = 200
b = 33
c = 5
if a > b and c > a:
  print("Both conditions are True")

In [44]:
a = 33
b = 200

if b > a:
    pass